<!--::::Pie de Pagina::::::-->



<!DOCTYPE html>
<html>
<head>
    <title>Mi página con footer fijo</title>
   <link rel="stylesheet" href="footer.component.css">
</head>
<body>
    <div class="contenido">
        <!-- Aquí va el contenido principal de tu página -->
        <!-- Puedes mantener el código HTML proporcionado en el área de contenido -->
        <!-- ... -->
    </div>

    <footer class="pie-pagina">
      <div class="grupo-1">
          <div class="box">
              <figure>
                  <a href="#">
                    <a ><img src="./assets/img/LOGO RECTANGULAR_SIN FONDO.png"       ></a>
                                  </a>
              </figure>
          </div>
          <div class="box">
              <h2><b>Instituto Universitario</b></h2>
              <p><b>Dirección:</b> Octavio Chacón Moscoso 1-98 y Primera Transversal (Parque industrial)</p>
              <p><b>Teléfono:</b> 07 2809 551 - 0995363076</p>
                <p><b>Correo Electrónico:</b>info@tecazuay.edu.ec</p>
    
              </div>
          <div class="box">
              <h2><b>SIGUENOS</b></h2>
              <div >
                <a href="https://www.facebook.com/search/top?q=tecnol%C3%B3gico%20del%20azuay" ><img src="./assets/img/logo facebook.png" style="width: 50px; ; right: 50px;"      ></a>
                </div>
          </div>
      </div>
      <div class="grupo-2">
          <small>&copy; 2023 <b>Complexivo Grupo 3</b> - Todos los Derechos Reservados.</small>
      </div>
    </footer>
</body>
</html>
