<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1 style="text-transform: uppercase">
        <strong>Modelos </strong>
      </h1>
    </blockquote>
    <div class="horizontal-list">
      <div class="col-auto mb-3">
        <button
          type="button"
          class="btn btn-primary"
          style="height: 100%; width: 100%"
          (click)="openDialog()"
          id="my-button"
        >
          Nuevo Modelo
        </button>
      </div>

      <ng-container *ngFor="let item of datasource; let i = index">
        <div class="card mi-card card-{{ i }}">
          <!-- <div class="card-body"> -->
          <!-- <div class="item"> -->
          <!-- <div class="card text-center"> -->
            <div class="card-header">
              <span *ngIf="i === 0" class="recent-icon">
                <mat-icon>new_releases</mat-icon> </span
              >{{ item.nombre }}
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                Inicio: {{ item.fecha_inicio | customDate }} <br>
                Fin: {{ item.fecha_fin | customDate }}
              </p>
              <a (click)="enviarModelo(item)" class="btn btn-primary"
                >Detalle</a
              >
            </div>
            <div class="card-footer text-muted">2 days ago</div>
            <!-- </div> -->
            <!-- </div> -->
          <!-- </div> -->
        </div>
      </ng-container>
    </div>
  </div>
</body>
