<body>
    <div class="container bg-light border border-start-0 rounded-4">
        <blockquote class="blockquote text-dark" style="margin-top: 5%">
            <h1><strong> LISTADO DE ACTIVIDADES CUMPLIDAS</strong></h1>
        </blockquote>
        <div></div>

        <div class="card">
            <div class="card-body">

                <div role="search" id="buscar">

                    <input class="form-control" type="text" placeholder="Buscar" aria-label="Search"
                    (input)="applyFilter($event)"/>

                </div>
                <br />
                
                <br />
                <br />

               <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef> Código </th>
                            <td mat-cell *matCellDef="let element"> {{element.id_actividad}} </td>
                          </ng-container>

                          <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                          </ng-container>

                          <ng-container matColumnDef="fechaInicio">
                            <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
                            <td mat-cell *matCellDef="let element"> {{element.fecha_inicio}} </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="fechaFin">
                            <th mat-header-cell *matHeaderCellDef> Fecha Fin  </th>
                            <td mat-cell *matCellDef="let element"> {{element.fecha_fin}} </td>
                          </ng-container>

                          <ng-container matColumnDef="responsable">
                            <th mat-header-cell *matHeaderCellDef> Responsable </th>
                            <td mat-cell *matCellDef="let element"> {{element.usuario.persona.primer_nombre}} </td>
                          </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>
                  
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
     </mat-paginator>
   </div>

<!-- Your existing code for the modal and its content -->

                

            </div>
        </div>
    </div>
</body>




<!--   <body>
    <div class="container bg-light border border-start-0 rounded-4">
        <blockquote class="blockquote text-dark" style="margin-top: 5%">
            <h1><strong> LISTADO DE ACTIVIDADES CUMPLIDAS</strong></h1>
        </blockquote>
        <div></div>

        <div class="card">
            <div class="card-body">

                <div role="search" id="buscar">

                    <input class="form-control" type="text" placeholder="Buscar" aria-label="Search"
                        [(ngModel)]="searchText" />

                </div>
                <br />
                
                <br />
                <br />
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Código</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Fecha Inicio</th>
                            <th class="text-center">Fecha Fin</th>
                            <th class="text-center">Responsable</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center text-start" *ngFor="let item of actividad | buscar : searchText">
                            <td>{{item.id_actividad}}</td>
                            <td>{{item.nombre}}</td>
                            <td>{{item.fecha_inicio}}</td>
                            <td>{{item.fecha_fin}}</td>
                            <td>{{item.usuario.persona.primer_nombre}}</td>



                        </tr>
                    </tbody>
                </table>
               

                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Select page of periodic elements">
               </mat-paginator>

Your existing code for the modal and its content 

                

</div>
</div>
</div>
</body>-->