<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1 style="text-transform: uppercase">
        <strong><a>REPORTE POR CRITERIO </a></strong>
      </h1>
    </blockquote>
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Seleccione criterios
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a
                class="dropdown-item"
                *ngFor="let crit of criterios"
                (click)="toggleCriterioSelection(crit)"
              >
                <span class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="isCriterioSelected(crit)"
                  />
                  <label class="form-check-label">{{ crit.nombre }}</label>
                </span>
              </a>
            </div>
          </div>

          <button
            type="button"
            class="btn btn-primary"
            (click)="buscarPorCriterio()"
            style="margin-left: 2%;"
          >
            Buscar criterios seleccionados
          </button>
          <button
            type="button"
            class="btn btn-primary ml-auto"
            (click)="generarInforme()"
            
          >
          <i class="fa fa-file-pdf"></i>
            Generar pdf
          </button>
          <br />
        </div>
        <br />
        <div
          class="mat-elevation-z8 table-responsive"
          style="margin-bottom: 5%"
        >
<div class="mat-elevation-z8 table-responsive" style="margin-bottom: 5%">
    <table mat-table [dataSource]="dataSource">
    
      <!-- Table Columns -->
      <ng-container matColumnDef="criterio">
        <mat-header-cell *matHeaderCellDef> CRITERIO </mat-header-cell>
        <mat-cell *matCellDef="let indicador"> {{ indicador.subcriterio.criterio.nombre }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="subcriterio">
        <mat-header-cell *matHeaderCellDef> SUBCRITERIO </mat-header-cell>
        <mat-cell *matCellDef="let indicador"> {{ indicador.subcriterio.nombre }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="indicador">
        <mat-header-cell *matHeaderCellDef> INDICADOR </mat-header-cell>
        <mat-cell *matCellDef="let indicador"> {{ indicador.nombre }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef> DESCRIPCIÓN </mat-header-cell>
        <mat-cell *matCellDef="let indicador"> {{ indicador.descripcion }} </mat-cell>
      </ng-container>
    
      <!-- Add more columns here -->
      <ng-container matColumnDef="valor_obtenido">
        <mat-header-cell *matHeaderCellDef> VALOR OBTENIDO </mat-header-cell>
        <mat-cell *matCellDef="let indicador"> {{ indicador.valor_obtenido }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="porc_obtenido">
        <mat-header-cell *matHeaderCellDef> PORCENTAJE OBTENIDO </mat-header-cell>
        <mat-cell *matCellDef="let indicador"> {{ indicador.porc_obtenido }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="porc_utilida_obtenida">
        <mat-header-cell *matHeaderCellDef> PORCENTAJE UTILIDAD </mat-header-cell>
        <mat-cell *matCellDef="let indicador"> {{ indicador.porc_utilida_obtenida }} </mat-cell>
      </ng-container>
    
      <!-- Set the order of the columns you want to display -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
     
    </table>
     

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements">
 </mat-paginator>

  
      </div>
    </div>
  </div>



<!---->
<!-- Add this inside your template -->
