<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1 style="text-transform: uppercase">
        <strong><a style="cursor: pointer" (click)="irinicio()">Modelos </a>
          >
          <a style="cursor: pointer" (click)="regresar()">{{ modelo.nombre }}
          </a>
          >
          <a>{{ criterio.nombre }} </a></strong>
      </h1>
    </blockquote>
    <h1 class="display-1">PONDERACIÓN DEL CRITERIO</h1>
    <br />
    <div class="mat-elevation-z8 table-responsive" style="margin-bottom: 5%">
      <div class="tabla-contenedor">
        <table border="1px" class="table">
          <thead class="table-dark">
            <tr>
              <th>Id Indicador</th>
              <th>Nombre de Indicador</th>
              <th>Peso</th>
              <th>% Valor Obtenido</th>
              <th>% Utilidad Obtenido</th>
              <th>Valor obtenido</th>
              <th>Archivo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let column of dataSource">
              <td>{{ column.id_indicador }}</td>
              <td>{{ column.nombre }}</td>
              <td>{{ column.peso }}</td>
              <td [class.color-verde]="column.color === 'verde'" [class.color-rojo]="column.color === 'rojo'"
                [class.color-naranja]="column.color === 'naranja'" [class.color-amarillo]="column.color === 'amarillo'">
                {{ column.porc_obtenido }} %
              </td>

              <td>{{ column.porc_utilida_obtenida }} %</td>
              <td>{{ column.valor_obtenido }}</td>
              <td>
                <a (click)="recoverPdf(column.id_indicador)">Descargar PDF</a>
                <div *ngIf="column.id_indicador=== idndicadorseleccionado ">

                  <p *ngFor="let archi of archivos">

                    <a href="{{ archi.enlace}}" target="_blank">
                      {{ archi.nombre}}
                    </a>
                  </p>
                  <span *ngIf="archivos.length == 0">Sin enlace</span>
                </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br />
    <div class="mat-elevation-z8 table-responsive" style="margin-bottom: 5%">
      <h1 style="text-align: center">Grafica de pastel por Criterios</h1>
      <div>
        <canvas id="pastel"></canvas>
      </div>
    </div>
  </div>
</body>