<body id="body">
<div id="fondo" class="container-fluid">
<section class="content-header" id="enc">
    <div class="container-fluid" style="border: 1px; border-radius: 2%;">
        <div class="row mb-2">
            <div class="col-sm-6" id="letra" (click)="irmodelo()" title="Haga clic para ir al modelo">
              
                <h1 ><strong>MODELO:</strong> {{modeloMaximo.nombre}}</h1>
            </div>
            
        </div>
    </div>
</section>
<select name="fondo" id="fondo"  [(ngModel)]="selectedColor" (ngModelChange)="cambiar()">
  <option value="white">Tema 1</option>
  <option value="#151a30">Tema 2</option>
  <option value="green">Verde</option>
</select>
<!-- Chart -->
<div style="display: flex;" id="fig">
  <div style="flex-basis: 70%; border-right: thick double #32a1ce;" (click)="detalle()" id="fig2">
    <ngx-charts-pie-grid
      [view]="view"
      [scheme]="colorScheme"
      [results]="datos"
      [designatedTotal]="1"
      [customColors]="colorScheme"
      (select)="onSelect($event)"
    >
      <ng-template #tooltipTemplate let-model="model">
        <div class="custom-tooltip" id="tooltip">
          <span>{{ model.name }}</span>
          <br>
          <span>{{ model.value | percent }}</span>
        </div>
      </ng-template>
    </ngx-charts-pie-grid>
  </div>

  <div class="barra" style="flex-basis: 30%; margin-top: 5%;" (click)="detalle()" title="Haga clic para ir a los criterios">
    <ngx-charts-bar-horizontal
      [view]="[200, 200]"
      [scheme]="colorScheme"
      [results]="crite"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="false"
      [xAxisLabel]="titulo"
      [showDataLabel]="true"
      [barPadding]="4"
      [roundEdges]="true"
      (select)="onSelect($event)"
    >
      <ng-template #tooltipTemplate let-model="model">
        <div class="custom-tooltip">
          <span>{{ model.name }}</span>
          <br>
          <span>{{ model.value | percent }}</span>
        </div>
      </ng-template>
    </ngx-charts-bar-horizontal>
  </div>
  
</div>
<!-- calendario  -->
<div style="display: flex;" id="not">
<div class="calenda" id="letra2"  style="flex-basis: 70%;">
  <h2 class="titu">Calendario de Actividades</h2>
    <div class="calendar-container">
    <full-calendar [options]="calendarOptions" id="cal">
      <ng-template #fcToolbar>
        <div class="fc-toolbar">
          <div class="fc-left">
            <button class="fc-prev-button fc-button fc-button-primary">
              <span class="fc-icon fc-icon-chevron-left"></span>
            </button>
            <button class="fc-next-button fc-button fc-button-primary">
              <span class="fc-icon fc-icon-chevron-right"></span>
            </button>
            <button class="fc-today-button fc-button fc-button-primary">Hoy</button>
          </div>
          <div class="fc-center">
            <span class="fc-title h4"></span>
          </div>
          <div class="fc-right">
            <button class="fc-dayGridMonth-button fc-button fc-button-primary">Mes</button>
            <button class="fc-timeGridWeek-button fc-button fc-button-primary">Semana</button>
            <button class="fc-timeGridDay-button fc-button fc-button-primary">Día</button>
          </div>
        </div>
      </ng-template>
    </full-calendar>
  </div>
</div>

<div style="flex-basis: 30%; margin-top: 2%;" id="notif">
  <h2>Listado de Notificaciones</h2>
  <div style="height: 620px; overflow-y: auto;" id="txt">
  <ul *ngIf="notificaciones && notificaciones.length > 0">
    <li *ngFor="let notificacion of notificaciones">
      <div>
        {{ notificacion.mensaje }}
      </div>
      <br />
      <div>
        <i class="far fa-clock mr-1"></i
        >{{ notificacion.fecha | date : "dd MMM. 'a las' hh:mm a" }}
      </div>
      <hr class="divider" />
      <!-- Agrega la barra separadora solo si no es el último elemento -->
    </li>
  </ul>
  <p *ngIf="!notificaciones || notificaciones.length === 0">
    No hay notificaciones
  </p>
</div>
</div>
</div>
  <mat-tab-group id="menu" class="men" [color]="color">
    <!-- Tab para Actividades Aprobadas -->
<mat-tab label="Actividades Aprobadas">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="fechai">
          <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
          <td mat-cell *matCellDef="let element">{{ element.fecha_inicio }}</td>
        </ng-container>

        <ng-container matColumnDef="fechafin">
          <th mat-header-cell *matHeaderCellDef>Fecha Fin</th>
          <td mat-cell *matCellDef="let element">{{ element.fecha_fin }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tab-apr"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Seleccione la pagina">
      </mat-paginator>
    </div>
  </mat-tab>
  
  
    <!-- Tab para Actividades Rechazadas -->
    <mat-tab label="Actividades Rechazadas">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource1">
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>
  
          <ng-container matColumnDef="fechai">
            <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
            <td mat-cell *matCellDef="let element">{{ element.fecha_inicio }}</td>
          </ng-container>
  
          <ng-container matColumnDef="fechafin">
            <th mat-header-cell *matHeaderCellDef>Fecha Fin</th>
            <td mat-cell *matCellDef="let element">{{ element.fecha_fin }}</td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1;" class="tab-rech"></tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
  
  <ngx-charts-bar-horizontal
  *ngIf="datosUsuarios.length > 0"
  [results]="datosUsuarios"
  [xAxis]="true"
  [yAxis]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="'Nombre del Usuario'"
  [yAxisLabel]="'Porcentaje de Actividades Aprobadas'"
>
</ngx-charts-bar-horizontal>

  
<div class="row" style="margin-top: 2%;">
  <div class="col-lg-6">
    <div class="card card-gray shadow">
      <div class="card-header">
        <h3 class="card-title">Actividades con evidencias sin calificar</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div> 
      </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" id="tbl_productos_mas_vendidos">
          <thead>
            <tr class="text-danger">
              <th class="text-center">Codigo</th>
              <th class="text-center">Nombre</th>
              <th class="text-center">Fecha Inicio</th>
              <th class="text-center">Fecha Fin</th>
              <th class="text-center">Responsable</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center text-start" *ngFor="let item of Actividades">
              <td>{{item.id_actividad}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.fecha_inicio}}</td>
              <td>{{item.fecha_fin}}</td>
              <td>
                  <button (click)="getPersonaActividad(item)" type="button"
                    class="btn btn-primary" style="margin-right: 10px">Ver
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>    
</div>
</div>
</body>