<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid" style="background-color: white; border: 1px; border-radius: 2%;">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><strong>MODELO:</strong> {{modeloMaximo.nombre}}</h1>
            </div>
            
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

  <!-- imagen -->
 
<!-- Mostrar grafica prueba -->
<div class="main">
    <div class="cards">
        <div class="card" *ngFor="let item of listaCriterios" [style.backgroundColor]="getColor(item)">
            <div class="card-content">
              <div class="card-name" style="color: black;">{{ item.id_criterio }}. {{ item.nombre }}</div>
            </div>
            <div class="icon-box">
                <div class="icon-box">
                    <i class="fas fa-cog fa-spin fa-3x"></i>
                    <div class="percentage">{{ suma[item.nombre] }}%</div>
                  </div>
              </div>
              <div class="bar-container">
                <div class="bar" [style.width]="getPorcentaje(suma[item.nombre])" [style.backgroundColor]="getColorp(suma[item.nombre])"></div>
              </div>
          </div>
</div>
</div>
<!-- calendario  -->
<h3 class="card-title">Calendario de Actividades</h3>

<!-- <div class="calendar-container">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div> -->
  <div class="calendar-container">
  <full-calendar [options]="calendarOptions">
    <ng-template #fcToolbar>
      <div class="fc-toolbar">
        <div class="fc-left">
          <button class="fc-prev-button fc-button fc-button-primary">
            <span class="fc-icon fc-icon-chevron-left"></span>
          </button>
          <button class="fc-next-button fc-button fc-button-primary">
            <span class="fc-icon fc-icon-chevron-right"></span>
          </button>
          <button class="fc-today-button fc-button fc-button-primary">Hoy</button>
        </div>
        <div class="fc-center">
          <span class="fc-title h4"></span>
        </div>
        <div class="fc-right">
          <button class="fc-dayGridMonth-button fc-button fc-button-primary">Mes</button>
          <button class="fc-timeGridWeek-button fc-button fc-button-primary">Semana</button>
          <button class="fc-timeGridDay-button fc-button fc-button-primary">Día</button>
        </div>
      </div>
    </ng-template>
  </full-calendar>
</div>

<div class="chart-container">
    <ngx-charts-bar-vertical
  [view]="[width, height]"
  [scheme]="colorScheme"
  [results]="datos"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [gradient]="gradient"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>

  </div>

        <!-- Productos mas vendidos y con poco stock -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-gray shadow">
                    <div class="card-header">
                        <h3 class="card-title">Actividades que tienen evidencias sin calificar</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button> -->
                        </div> <!-- ./ end card-tools -->
                    </div> <!-- ./ end card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="tbl_productos_mas_vendidos">
                                <thead>
                                    <tr class="text-danger">
                                        <th class="text-center">Codigo</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Fecha Inicio</th>
                                        <th class="text-center">Fecha Fin</th>
                                        <th class="text-center">Responsable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center text-start" *ngFor="let item of Actividades">
                                        <td>{{item.id_actividad}}</td>
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.fecha_inicio}}</td>
                                        <td>{{item.fecha_fin}}</td>
                                        <td>
                                            <button (click)="getPersonaActividad(item)" type="button"
                                                class="btn btn-primary" style="margin-right: 10px">
                                                ver
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- ./ end card-body -->
                </div>
            </div>
            
        </div>

<!-- /.content -->





<!-- <mat-card class="floating-card">

    <div style="align-content: center;" class="card-body">
        <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
        </canvas>
    </div>
</mat-card>

<mat-card class="floating-card2">
    <div style="align-content: center;" class="card-body">
        <h1 style="align-content: center;">DATOS DEL RESPONSABLE</h1>
        <div class="container">
            <div style="display: flex;">
                <p><Strong> Cedula: </Strong> </p>
                <p style="margin-left: 5px;">{{persona.cedula}}</p>
            </div>
            <div style="display: flex;">
                <p><Strong> Nombres: </Strong> </p>
                <p style="margin-left: 5px;">{{persona.primer_nombre}} {{persona.primer_apellido}}</p>
            </div>
            <div style="display: flex;">
                <p><Strong>Correo: </Strong> </p>
                <p style="margin-left: 5px;">{{persona.correo}}</p>
            </div>
            <div style="display: flex;">
                <p><Strong>Numero Celular: </Strong> </p>
                <p style="margin-left: 5px;">{{persona.celular}}</p>
            </div>
        </div>
    </div>
</mat-card>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">INDICADORES</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets2" [labels]="pieChartLabels2"
                    [options]="pieChartOptions2" [plugins]="pieChartPlugins2" [legend]="pieChartLegend2">
                </canvas>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->